:root {
  --border: hsl(0, 0%, 89%);
  --primary: hsl(208, 29%, 48%);
  --primary-lighter: hsl(208, 29%, 88%);
  --primary-darker: hsl(208, 29%, 38%);
  --font: hsl(230, 4%, 31%);
}

body {
  margin: 0;
  background-color: #eeeeee;
}

table {
  border-collapse: collapse;
}

code {
  background: var(--border);
  padding: 0.1rem 0.5rem;
}

.section__title {
  font-family: serif;
}

.tag {
  background: var(--primary-lighter);
  color: var(--primary);
  padding: 0.2rem;
}

.grid {
  font-family: sans-serif;
  display: grid;
  font-size: 16px;
  color: var(--font);
  height: 100%;
  grid-template-areas: 'aside main'
                       'aside foot';
  grid-template-columns: 15% 85%;
}

aside {
  background-color: #FFF;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 15%;
  grid-area: aside;
  overflow: auto;
  display: block;
  border-right: 2px solid var(--primary);
}

.pagenav {
  text-align: center;
  padding: 0.3rem 0.7rem;
  background-color: var(--primary);
}

.pagenav__title {
  color: #FFF;
  font-size: 18px;
}

.pagenav__version {
  font-size: 14px;
}

.pagenav__links {
  display: grid;
  grid-template-columns: 50% 50%;
}

.pagenav__link {
  text-decoration: none;
  padding: 0.3rem;
  color: var(--primary-lighter);
}

.pagenav__link:hover {
  transition: 0.2s ease-in;
  color: var(--font);
}

.pagenav__link:last-child {
  border-right: none;
}

main {
  grid-area: main;
  padding: 0 0.5rem 2rem 0.5rem;
  height: 100%;
}

footer {
  grid-area: foot;
  padding: 0.8rem 1rem;
  background-color: #FFF;
  text-align: center;
  border-top: 1px solid var(--border);
}

.container {
  color: var(--font);
  margin: auto;
}

.wrapper {
  margin-bottom: 0.7rem;
  background-color: #FFF;
  padding: 0.6rem;
  box-shadow: 0 0 0 1px #ccc;
  border: 1px solid #FFF;
  border-radius: 2px;
}

.wrapper:first-child {
  margin-top: 0.4rem;
}

.wrapper h3 {
  margin-bottom: 0.1rem;
}

.wrapper p > img {
  width: 100%;
  height: 100%;
}

.filter {
  margin-left: 1.2rem;
  margin-top: 0.5rem;
  padding: 0.5rem;
  width: 75%;
}

.hidden {
  display: none;
}

.title {
  color: var(--font);
  margin-top: 0;
}

.title__params {
  color: var(--primary);
}

.details {
  border-left: 3px solid var(--border);
  padding-left: 0.3rem;
}

.dummy, .nav {
  list-style: none;
}

.nav {
  padding-left: 0;
  background-color: #FFF;
}

.nav__item {
  margin-top: 0.4rem;
  overflow: auto;
}

.nav__item:first-child {
  margin-top: 0;
}

.nav__link {
  color: var(--primary);
  text-decoration: none;
  padding: 0.5rem 0.7rem;
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
}

.nav__name {
  grid-column: 1;
}

.nav__type {
  justify-self: end;
  grid-column: 2;
  width: auto;
}

.nav__link:hover {
  transition: 0.2s ease-in;
  color: #FFF;
  background-color: var(--primary);
}

.details__tag {
  padding-left: 0.5rem;
  width: auto;
  float: left;
}

.details__data {
  margin-left: 4rem;
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
}

.tables {
  display: grid;
  grid-template-columns: 50% 50%;
}

.returns {
  grid-column: 2;
}

.params {
  padding-right: 0.5rem;
  grid-column: 1
}

.params__table {
  border: 1px solid var(--border);
  width: 100%;
}

.params__head, .returns__head {
  margin-top: 0;
}

.params code {
  white-space: pre;
}

.params__td--name code {
  font-size: 100%;
}

th {
  text-align: left;
}

.params__th {
  padding: 0.7rem;
  border-bottom: 1px solid var(--border);
}

.params__tbody tr {
  border-bottom: 1px solid var(--border);
}

.params__td {
  padding: 0.7rem;
}

.params__type {
  color: var(--primary);
}

.params__td--optional {
  color: var(--primary);
}

/* navicon button */
.navicon-button {
  display: none;
  position: relative;
  padding: 2.0625rem 1.5rem;
  transition: 0.25s;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  opacity: .8;
}
.navicon-button .navicon:before, .navicon-button .navicon:after {
  transition: 0.25s;
}
.navicon-button:hover {
  transition: 0.5s;
  opacity: 1;
}
.navicon-button:hover .navicon:before, .navicon-button:hover .navicon:after {
  transition: 0.25s;
}
.navicon-button:hover .navicon:before {
  top: .825rem;
}
.navicon-button:hover .navicon:after {
  top: -.825rem;
}

/* navicon */
.navicon {
  position: relative;
  width: 2.5em;
  height: .3125rem;
  background: #000;
  transition: 0.3s;
  border-radius: 2.5rem;
}
.navicon:before, .navicon:after {
  display: block;
  content: "";
  height: .3125rem;
  width: 2.5rem;
  background: #000;
  position: absolute;
  z-index: -1;
  transition: 0.3s 0.25s;
  border-radius: 1rem;
}
.navicon:before {
  top: .625rem;
}
.navicon:after {
  top: -.625rem;
}

/* open */
.nav-trigger:checked + label:not(.steps) .navicon:before,
.nav-trigger:checked + label:not(.steps) .navicon:after {
  top: 0 !important;
}

.nav-trigger:checked + label .navicon:before,
.nav-trigger:checked + label .navicon:after {
  transition: 0.5s;
}

/* Minus */
.nav-trigger:checked + label {
  -webkit-transform: scale(0.75);
          transform: scale(0.75);
}

/* × and + */
.nav-trigger:checked + label.plus .navicon,
.nav-trigger:checked + label.x .navicon {
  background: transparent;
}

.nav-trigger:checked + label.plus .navicon:before,
.nav-trigger:checked + label.x .navicon:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background: #FFF;
}

.nav-trigger:checked + label.plus .navicon:after,
.nav-trigger:checked + label.x .navicon:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background: #FFF;
}

.nav-trigger:checked + label.plus {
  -webkit-transform: scale(0.75) rotate(45deg);
          transform: scale(0.75) rotate(45deg);
}

.nav-trigger:checked ~ aside {
  left: 0 !important;
}

.nav-trigger:checked ~ .overlay {
  display: block;
}

.nav-trigger {
  position: fixed;
  top: 0;
  clip: rect(0, 0, 0, 0);
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: hsla(0, 0%, 0%, 0.5);
  z-index: 1;
}

@media only screen and (min-width: 320px) and (max-width: 680px) {

  body {
    overflow-x: hidden;
  }

  .title {
    font-size: 20px;
  }

  aside {
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    width: 75%;
    left: -100%;
    z-index: 3;
    padding: 0 10px;
    transition: left 0.2s;
  }

  .navicon-button {
    display: inline-block;
    position: fixed;
    right: 0;
    z-index: 2;
  }

  .tables {
    grid-template-columns: 100%;
  }

  .returns {
    grid-column: 1;
  }

  .params {
    grid-column: 1;
    padding: 0;
  }

  .returns__head {
    margin-top: 0.5rem;
  }

  .grid {
    display: block;
  }
}
